

.container {
  text-align: center;
  font-size: 16pt;
  display: flex;
  width: 800px;
  height: 480px;
  margin: auto;
  border: 1px solid black;
}

.component-group {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.component {
  margin: auto;
}

.fahrenheit {
  font-size: 52pt;
}

.celcius {
  font-size: 28pt;
}

.description {
  font-size: 14pt;
}