
body {
  overflow: hidden;
  cursor: none;
}

.container {
  text-align: center;
  font-size: 16pt;
  display: flex;
  margin: auto;
  height: 100vh;
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.component-group {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.component {
  margin: auto;
}

.fahrenheit {
  font-size: 52pt;
}

.celcius {
  font-size: 28pt;
}